<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/article/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoBlog</title>
</head>
<body>
    <h1>GoBlog</h1>
    <p>{{ message }}</p>
    <p>{{ Now }}</p>

    <script src="/js/article/index.js"></script>
</body>
</html>




<!--
/main.goの記述 e.Static("/css", "src/css")
/src/cssが参照するパス。/cssがindex.htmlファイルで読み込みを始めるパス


-->

